@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: black;
    --bg2-color: #2e2e2e;
    --text1-color: white;
    --text2-color: black;
    --main-color: rgb(0, 255, 100);
    --linear1-color: #ff9a9e;
    --linear2-color: #fad0c4;
    --linear3-color: #a18cd1;
    --linear4-color: #fbc2eb;
    --linear5-color: #a6c1ee;
    --linear6-color: #d4fc79;
    --linear7-color: #96e6a1;
    --linear8-color: #84fab0;
    --darklinear1-color: rgb(191, 115, 118);
    --darklinear2-color: rgb(190, 144, 140);
    --darklinear3-color: rgb(122, 105, 164);
    --darklinear4-color: rgb(192, 154, 187);
    --darklinear5-color: rgb(120, 137, 185);
    --darklinear6-color: rgb(166, 200, 110);
    --darklinear7-color: rgb(113, 163, 116);
    --darklinear8-color: rgb(98, 172, 142);
    --lineargradient1-color: linear-gradient(135deg, #ff9a9e, #c73b52);
    --lineargradient2-color: linear-gradient(135deg, #fad0c4 0%, #d08579 35%, #5b3b38 100%);
    --lineargradient3-color: linear-gradient(135deg, #a18cd1, #fbc2eb);
    --lineargradient4-color: linear-gradient(135deg, #2c2c2c, #ff4f81);
    --lineargradient5-color: linear-gradient(135deg, #28527a, #a6c1ee);
    --lineargradient6-color: linear-gradient(135deg, #d4fc79, #3a5a0b);
    --lineargradient7-color: linear-gradient(135deg, #2c3e50, #d4fc79);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
    background: var(--bg-color);
    color: var(--text1-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 100;
    transition: all 0.5s ease;
}

.header.sticky {
    background: var(--bg2-color)
}

.logo {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    background: linear-gradient(to right,
        var(--linear1-color) 0%,
        var(--linear2-color) 14.2857%,
        var(--linear3-color) 28.5714%,
        var(--linear4-color) 42.8571%,
        var(--linear5-color) 57.1428%,
        var(--linear6-color) 71.4285%,
        var(--linear7-color) 85.7142%,
        var(--linear8-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 5px black);
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text1-color);
    margin-left: 3.5rem;
    filter: drop-shadow(2px 2px 5px black);
}

.navbar a:hover:nth-child(1), 
.navbar a.active:nth-child(1) {
    color: var(--linear1-color);
}

.navbar a:hover:nth-child(2), 
.navbar a.active:nth-child(2) {
    color: var(--linear2-color);
}

.navbar a:hover:nth-child(3), 
.navbar a.active:nth-child(3) {
    color: var(--linear3-color);
}

.navbar a:hover:nth-child(4), 
.navbar a.active:nth-child(4) {
    color: var(--linear4-color);
}

.navbar a:hover:nth-child(5), 
.navbar a.active:nth-child(5) {
    color: var(--linear5-color);
}

.navbar a:hover:nth-child(6), 
.navbar a.active:nth-child(6) {
    color: var(--linear6-color);
}

.navbar a:hover:nth-child(7), 
.navbar a.active:nth-child(7) {
    color: var(--linear7-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    position: relative;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 9%;
    background: transparent;
}

.home-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10rem 0;
}

.home-content .home-img {
    position: relative;
    width: 30rem;
    height: 50rem;
    transition: transform 0.5s ease-in-out;
}

.home-content .home-img:hover {
    transform: scale(1.05);
}

.home-content .home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-content .home-start {
    max-width: 60rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-start .text-animate {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-start .text-animate h1 {
    font-size: 6.2rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: .7px var(--linear1-color);
    background-image: var(--lineargradient7-color);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    text-shadow: 2px 2px 5px var(--darklinear1-color);
    margin: 1rem;
}

.home.show-animate .home-content .home-start .text-animate h1 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.text-animate h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.home.show-animate .home-content .text-animate h1::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-start form {
    max-width: 70rem;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.home-start form .input-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.home-start form .input-box .input-field {
    position: relative;
    margin: .8rem 0;
}

.home-start form .input-box .input-field input{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text1-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--linear1-color);
}

.home-start form .input-box .input-field input::placeholder {
    color: var(--text1-color);
}

.home-start form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:  var(--lineargradient1-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.home-start form .input-box .input-field input:focus~.focus,
.home-start form .input-box .input-field input:valid~.focus {
    width: 100%;
}

.home-start form .btn-box.btns .btn {
    cursor: pointer;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.home-start form .btn-box .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--linear1-color);
    border: .2rem solid var(--linear1-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-start form .btn-box .btn:hover {
    color: var(--linear1-color);
}

.home-start form .btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.home-start form .btn-box .btn:hover::before {
    width: 100%;
}

.home-start .home-socials {
    position: relative;
    margin-top: 2.5rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.home-start .home-socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--linear1-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--linear1-color);
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.home-start .home-socials a:hover {
    color: var(--bg-color);
}

.home-start .home-socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--lineargradient1-color);
    z-index: -1;
    transition: .5s;
}

.home-start .home-socials a:hover::before {
    width: 100%;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
    margin: 0 auto;
}

.heading {
    display: flex;
    white-space: pre;
}

.heading h2{
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding-bottom: 6rem;
    min-height: auto;
}

.about h2 {
    text-shadow: 2px 2px 5px var(--darklinear2-color);
}

.about span {
    color: var(--linear2-color);
}

.about-content {
    padding: 1rem 5rem;
    line-height: 1.6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-content .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .3rem solid var(--linear2-color);
    border-radius: 2.5rem;
    color: var(--text2-color);
    background: var(--linear2-color);
    padding: 1rem;
    width: 80%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.about-content .container:hover {
    color: var(--text1-color);
}

.about-content .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--lineargradient2-color);
    z-index: -1;
    transition: .5s;
}

.about-content .container:hover::before {
    width: 100%;
}

.about-content .container:nth-child(1), 
.about-content .container:nth-child(3) {
    text-align: center;
}

.about-content .container p {
    position: relative;
    font-size: 1.6rem;
    margin: 1rem 3rem;
}

.about-content .container ul {
    position: relative;
    font-size: 1.6rem;
    margin: 1rem 3rem;
}

.design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding-bottom: 10rem;
}

.design h2 {
    text-shadow: 2px 2px 5px var(--darklinear3-color);
}

.design span {
    color: var(--linear3-color);
}

.design .design-content {
    width: 100%;
}

.design-content .containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100rem;
    margin: 0 auto;
}

.design-content .containers .container {
    position: relative;
    min-width: 30rem;
    border: .3rem solid var(--linear3-color);
    background: var(--linear3-color);
    color: var(--text2-color);
    border-radius: 2.5rem;
    text-align: center;
    padding: 1rem;
    height: auto;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-transform: uppercase;
}

.design-content .containers .container:hover {
    color: var(--text1-color);
}

.design-content .containers .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--lineargradient3-color);
    z-index: -1;
    transition: .5s;
}

.design-content .containers .container:hover::before {
    width: 100%;
}


.design-content .containers .container .title {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.3rem;
}

.design-content .containers .container .designs {
    display: none;
    height: 40rem;
}

.design-content .containers .container.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.design-content .containers .container.active .title {
    padding: 0 3rem;
}

.design-content .containers .container .title .bx {
    cursor: pointer;
}

.design-content .containers .container.active .designs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.design-content .containers .container.active .designs img {
    width: 10rem;
    height: 35rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10rem;
    border: .2rem solid var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.design-content .containers .container.active .designs img:hover {
    transform: scale(1.05);
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding-bottom: 6rem;
}

.pricing h2 {
    text-shadow: 2px 2px 5px var(--darklinear4-color);
}

.pricing span {
    color: var(--linear4-color);
}

.pricing .pricing-content {
    width: 100%;
}

.pricing-content .pricing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.pricing-container .pricing-set {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 45rem;
    padding: .5rem;
    line-height: 1.6;
    border-radius: 2.5rem;
    border: .3rem solid var(--linear4-color);
    background: var(--linear4-color);
    color: var(--text2-color);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}
.pricing-container .pricing-set:hover {
    color: var(--text1-color);
}
.pricing-container .pricing-set::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--lineargradient4-color);
    z-index: -1;
    transition: .5s;
}

.pricing-container .pricing-set:hover::before {
    width: 100%;
}

.pricing-container .pricing-set h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.pricing-container .pricing-set h4 {
    font-size: 2rem;
}

.pricing-container .pricing-set h4,
.pricing-container .pricing-set p {
    text-align: center;
}

.pricing-content p,
.pricing-content ul {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.pricing-container ul {
    margin: 2rem 5rem 3rem;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background: var(--bg-color);
    padding-bottom: 6rem;
}

.reviews h2 {
    text-shadow: 2px 2px 5px var(--darklinear5-color);
}

.reviews span {
    color: var(--linear5-color)
}

.reviews .reviews-content {
    width: 100%;
}

.reviews-content .reviews-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.reviews-containers .container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 13rem;
    border: .3rem solid var(--linear5-color);
    background: var(--linear5-color);
    color: var(--text2-color);
    border-radius: 2.5rem;
    padding: 1.5rem;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
    cursor: pointer;
}

.reviews-containers .container:hover {
    color: var(--text1-color);
}

.reviews-containers .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--lineargradient5-color);
    z-index: -1;
    transition: .5s;
}

.reviews-containers .container:hover::before {
    width: 100%;
}

.reviews-containers .container .upper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 1.5rem;
}

.container .upper .profile-picture img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.container .upper .data {
    margin-top: .7rem;
}

.container .upper .data .name h3 {
    font-size: 1.6rem;
}

.container .upper .data .rate {
    color: yellow;
}

.reviews-containers .container .lower {
    margin-top: .5rem;
    text-align: justify;
}

.reviews-containers .container .lower .comment p {
    font-size: 1.3rem;
}

.buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    min-height: auto;
    padding-bottom: 6rem;
}

.buy h2 {
    text-shadow: 2px 2px 5px var(--darklinear6-color);
}

.buy span {
    color: var(--linear6-color);
}

.buy-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buy-content .buy-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.buy-containers .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    min-height: 38rem;
    height: auto;
    border: .3rem solid var(--linear6-color);
    background: var(--linear6-color);
    color: var(--text2-color);
    padding: 2rem;
    border-radius: 2.5rem;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
    cursor: pointer;
}

.buy-containers .container:hover {
    color: var(--text1-color);
}

.buy-containers .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--lineargradient6-color);
    z-index: -1;
    transition: .5s;
}

.buy-containers .container:hover::before {
    width: 100%;
}

.buy-containers .container .title h3 {
    font-size: 2.3rem;
    text-transform: uppercase;
}

.buy-containers .container .chosen {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-containers .container .set.chosen h3 {
    font-size: 3rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.buy-containers .container .set.chosen p {
    font-size: 1.6rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.buy-containers .container .des.chosen .line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: .2rem 0;
}

.buy-containers .container .des.chosen .line img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.buy-containers .container .des.chosen .line p {
    font-size: 1.6rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.buy-content .btn-box {
    position: relative;
    margin-top: 3rem;
    height: auto;
}   

.buy-content .btn-box .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    background: var(--linear6-color);
    border: .2rem solid var(--darklinear6-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.buy-content .btn-box .btn:hover {
    color: var(--linear6-color);
}

.buy-content .btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.buy-content .btn-box .btn:hover::before {
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    min-height: auto;
}

.contact h2 {
    text-shadow: 2px 2px 5px var(--darklinear7-color)
}

.contact span {
    color: var(--linear7-color);
}

.contact-content {
    width: 100%;
}

.contact-content form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact-content form .contact-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.contact-content form .contact-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact-content form .contact-box .input-field input,
.contact-content form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text1-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--linear7-color);
}

.contact-content form .contact-box .input-field input::placeholder,
.contact-content form .textarea-field textarea::placeholder {
    color: var(--text1-color);
}

.contact-content form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact-content form .textarea-field textarea {
    resize: none;
}

.contact-content form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--lineargradient7-color);
    color: var(--text1-color);  
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact-content form .contact-box .input-field input:focus~.focus,
.contact-content form .contact-box .input-field input:valid~.focus,
.contact-content form .textarea-field textarea:focus~.focus,
.contact-content form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact-content form .btn-box {
    margin-top: .1rem;
    position: relative;
    height: auto;
}

.contact-content form .btn-box .btn {
    position: relative;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--linear7-color);
    border: .2rem solid var(--darklinear7-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.contact-content form .btn-box .btn:hover {
    color: var(--linear7-color);
}

.contact-content form .btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.contact-content form .btn-box .btn:hover::before {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg2-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--linear7-color);
    border: .2rem solid var(--linear7-color);
    border-radius: .6rem;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size:  2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--linear7-color);
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.home-img {
    width: 50%;
}

.footer .animate.scroll {
    background: var(--bg2-color);
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

.about.show-animate .animate.scroll,
.design.show-animate .animate.scroll,
.pricing.show-animate .animate.scroll,
.reviews.show-animate .animate.scroll,
.buy.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4%;
    }
    .home {
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 835px) {
    .header {
        background: var(--bg-color);
    }
    .home-img {
        margin-top: 10rem;
        width: 20rem;
        height: 40rem;
    }
    .home-content {
        flex-direction: column;
        justify-content: center;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: linear-gradient(
            to right,
            #ff9a9e,
            #fad0c4,
            #a18cd1,
            #fbc2eb,
            #a6c1ee,
            #d4fc79,
            #96e6a1,
            #84fab0
        );
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg2-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
    section .heading {
        flex-direction: column;
    }
}

@media (max-width: 633px) {
    .design-content .containers .container.active .designs {
        margin-top: 4rem;
        padding-bottom: 3rem;
        height: auto;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }
    .home-socials {
        width: 16rem;
    }
    .home-socials a {
        width: 3.8rem;
        height: 3.8rem;
    }
}

@media (max-width: 462px) {
    .home-start .text-animate h1 {
        font-size: 5.2rem;
    }
    .contact form .contact-box .input-field {
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .home-start .text-animate h1 {
        font-size: 4.2rem;
    }
    .heading h2 {
        font-size: 3.5rem;
    }
}

@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -48rem 0;
    }
    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }
    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }
    75%,
    81% {
        opacity: 0;
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}